* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("maniimg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-position: center;
    background-size: 300px;
border: solid 2px #00ff00;
  }

#wrapper {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

nav {
margin: 0 auto;
margin-top: 3em;
width: 100%;

}

nav ul {
text-align: center;
display: inline;
margin: 0;
padding: 1em 1em 1em 0;
list-style: none;
}

nav ul li {
display: inline-block;
margin-right: .01em;
position: relative;
padding: 1em 3em;

-webkit-transition: all 0.2s;
-moz-transition: all 0.2s;
-ms-transition: all 0.2s;
-o-transition: all 0.2s;
transition: all 0.2s;
}

nav li a {
  padding-bottom: 1em;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
  font-family: Consolas, monaco, monospace;
  color: #ffffff;
  
}
nav li a:hover{
color: #ffffff;



}
nav ul li:hover {
  border-bottom: 3px solid #00ff00;
}

nav ul li ul {
padding: 0;
position: absolute;
top: 3.5em;
left: 0;
width: 15em;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
display: none;
opacity: 0;
visibility: hidden;
}
nav ul li ul li {  
display: block; 
color: #fff;
}
nav ul li ul li:hover { 

}

nav ul li:hover ul {
display: block;
opacity: 1;
visibility: visible;
}
i {
  color: #ffffff;

}

.search-box{
  width: 100%;
  position: relative;
  display: flex;
  background: #00ff004b;
  border-radius: 7px;
}
.search-input{
  width: 100%;
  padding: 10px;
  border: 4px solid #00ff00;
  border-radius:10px 0 0 10px ;
  border-right: none;
  outline: none;
  font-size: 20px;
  color: #ffffff;
  background: none;
  direction: rtl;
}
.search-button{
 text-align: center;
height: 51px;
width: 40px;
outline: none;
cursor: pointer;
border: 4px solid #00ff00;
 border-radius: 0 10px 10px 0 ;
border-left: none;
background: none;
font-size: 20px;
border-left: 4px solid #00ff00;


}
.container{
  width: 35%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
}